body {
  padding-top: 70px;
}

.bg-yellow {
  background-color: #fedd32;
  font-color: #000;
  font-size: 18px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

#info {
  color: grey;
  font-size: 18px;
  padding: 5px;
  font-weight: italic;
  text-decoration: blink;
}
